<div class="tarjeta">
    <h2>Servicios de voluntariado</h2>
    <img src="imagenes/voluntariado.jpg" alt="Voluntariado">
    <p>
        ¡Únete a nuestro equipo de voluntarios hoy!
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLwJ1dBbItg6O-5nLFVJDqQTP4QFL4NM88duI8KWyKCJigdw/viewform?fbclid=IwY2xjawG3KoFleHRuA2FlbQIxMAABHdWNbkZHSzZcaY5c8EWOKePm6n-ggoyk-jaDWJfEb6loLh4v6zwPbkK8-Q_aem_I78oPEnFXtjkZXzslnZNIA"
        target="_blank">Mas informacion</a>
</div>
<div class="tarjeta">