<section class="card2">
    <div class="card-item2">
        <img src="img/proyecto1.jpg" alt="gallery">

        <div class="info2">
            <h2>Brindar alimento y agua a los perritos de la calle</h2>
            <p>Este proyecto busca brindar alimento y agua a los perritos de la calle, ayudando a mejorar su bienestar y
                calidad de vida. Al proporcionarles recursos básicos, se les da un respiro frente a las difíciles
                condiciones que enfrentan.</p>
        </div>

    </div>
    <div class="card-item2">
        <img src="img/proyecto2.jpg" alt="gallery">

        <div class="info2">
            <h2>Vacunacion contra la rabia y otras enfermedades</h2>
            <p>Este proyecto tiene como objetivo la vacunación contra la rabia y otras enfermedades. A través de
                campañas de
                vacunación, se busca reducir
                los riesgos para las mascotas, los animales callejeros y la comunidad en general.</p>
        </div>

    </div>
    <div class="card-item2">

        <img src="img/proyecto3.jpg" alt="gallery">

        <div class="info2">
            <h2>Ayudar a los animales despues de una catastrofe</h2>
            <p> Ante una catástrofe, muchos animales quedan vulnerables y sin recursos, por lo que esta iniciativa
                se enfoca en su rescate y recuperación y asi brindarles refugio, alimento, agua y atención
                médica.</p>
        </div>
    </div>
    </div>
    <div class="card-item2">
        <img src="img/proyecto4.png" alt="gallery">

        <div class="info2">
            <h2>Revicion general de la salud de los animales</h2>
            <p>Este proyecto se enfoca en la revisión general de la salud de los animales, permitiendo detectar
                enfermedades, prevenir problemas y garantizar su bienestar. </p>
        </div>
    </div>

    <div class="card-item2">
        <img src="img/proyecto6.jpg" alt="gallery">

        <div class="info2">
            <h2>Programa de castracion y esterilizacion</h2>
            <p>Este proyecto tiene como objetivo la castración y esterilización de animales para controlar la población,
                prevenir abandonos y mejorar su calidad de vida. </p>
        </div>
    </div>

    <div class="card-item2">
        <img src="img/proyecto5.jpg" alt="gallery">

        <div class="info2">
            <h2>Campaña de adopción responsable</h2>
            <p>Este proyecto busca promover la adopción responsable de animales, asegurando que cada mascota encuentre
                un
                hogar adecuado y amoroso. </p>
        </div>
    </div>

    <div class="card-item2">
        <img src="img/proyecto7.jpg" alt="gallery">

        <div class="info2">
            <h2>Campañas de Concientización y Educación</h2>
            <p>Educar a la comunidad sobre la importancia del rescate animal, la adopción responsable y el cuidado
                adecuado de los animales. </p>
        </div>
    </div>


    <div class="card-item2">
        <img src="img/proyecto8.jpg" alt="gallery">

        <div class="info2">
            <h2>Programa de Voluntariado</h2>
            <p>Es un programa robusto de voluntariado donde personas interesadas puedan involucrarse en el trabajo diario del
                centro, ya sea cuidando animales, ayudando en la limpieza o apoyando en eventos de adopción. </p>
        </div>
    </div>


</section>