<section class="card">
    <div class="card-item">
    <div class="info">
        <h2>MISION</h2>
        <p>Trabajamos por el bienestar y la protección de los animales, rescatando, rehabilitando y reubicando a quienes
            lo necesitan. Promovemos la educación y la conciencia sobre el respeto hacia todas las especies, fomentando
            la convivencia armoniosa entre humanos y animales. Nos esforzamos por construir un mundo más compasivo donde
            cada ser vivo tenga la oportunidad de vivir con dignidad y seguridad.</p></div>
    </div>
    <div class="card-item">

 <div class="info">
        <h2>VISION</h2>
        <p>Un mundo donde todos los animales sean respetados, protegidos y valorados. Nos comprometemos a promover el
            bienestar animal, crear conciencia sobre su cuidado y trabajar por un futuro en el que la convivencia entre
            humanos y animales sea armoniosa y basada en la compasión.</p></div>
    </div>
    <div class="card-item">

 <div class="info">
        <h2>VALORES</h2>
         <ul>
        <li>Compasión</li>
        <li>Responsabilidad</li>
        <li>Educación</li>
        <li>Trabajo en equipo</li>
    </ul>
        
        </div>
    </div>

</section>