<seccion class="carrusel">
        <div class="imagenes">
            <div id="img">
                <img class="img" src="img/hero1.webp" alt="imagen 1" loading="lazy">
            </div>
           
        </div>
          <script src="data/carruselprogramas.js"></script>
    </seccion>