<section class="carrusel">
    <div class="imagenes">
        <div id="img-container">
            <img class="img-slide active" src="imagenes/hero1.jpg" alt="Imagen 1" loading="lazy">
            <img class="img-slide" src="imagenes/hero2.jpg" alt="Imagen 2" loading="lazy">
            <img class="img-slide" src="imagenes/hero3.jpg" alt="Imagen 3" loading="lazy">
        </div>
    </div>
    <button id="atras">←</button>
    <button id="adelante">→</button>
    <script src="data/carruselprogramas.js"></script>
</section>