<seccion class="carrusel">
    <div class="imagenes">
        <div id="img-container">
            <img id="img" src="imagenes/hero1.webp" alt="imagen 1" loading="lazy">
        </div>
    </div>
    <button id="atras">←</button>
    <button id="adelante">→</button>
    <script src="data/carruselprogramas.js"></script>
</seccion>