<<<<<<< HEAD
<<<<<<< HEAD
<section class="carrusel">
    <div class="imagenes">
        <div id="img-container">
            <img class="img-slide active" src="imagenes/hero1.jpg" alt="Imagen 1" loading="lazy">
            <img class="img-slide" src="imagenes/hero2.jpg" alt="Imagen 2" loading="lazy">
            <img class="img-slide" src="imagenes/hero3.jpg" alt="Imagen 3" loading="lazy">
        </div>
    </div>
    <button id="atras">←</button>
    <button id="adelante">→</button>
    <script src="data/carruselprogramas.js"></script>
</section>
=======
=======
>>>>>>> 3b9751c167275da39b1db5c23ce7c9e5761e533d
<div class="sliderProgramas">
    <div class="slides">
        {{#each programas}}
        <section class="slide">
            <picture>
                <img src="{{imgProgramaSlide}}" alt="{{altProgramaSlide}}" loading="lazy" />
            </picture>
        </section>
        {{/each}}
    </div>
<<<<<<< HEAD
</div>
>>>>>>> 7ac9171a620c2a15b212e98f0955a444d2ce8a49
=======
</div>
>>>>>>> 3b9751c167275da39b1db5c23ce7c9e5761e533d
