<div class="sliderProgramas">
    <div class="slides">
        {{#each programas}}
        <section class="slide">
            <picture>
                <img src="{{imgProgramaSlide}}" alt="{{altProgramaSlide}}" loading="lazy" />
            </picture>
        </section>
        {{/each}}
    </div>
</div>