<div class="eventoPasados">
    <img src="https://picsum.photos/id/1/200/300" alt="texto">
    <h3>Jornada de Salud Gratuita</h3>
    <p>Ofrecemos chequeos médicos y consultas gratuitas para toda la comunidad.</p>
</div>