<footer>
    <p> &copy; Derechos reservados 2025</p>
    <p>Animalandia</p>
    <nav>
        <ul>
            <li><a href="#" target="_blank"><img src="../imagenes/facebook.png" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="../imagenes/x.png" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="../imagenes/instagram.png" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="../imagenes/youtube.png" alt=""></a></li>
        </ul>

    </nav>
</footer>