{{#each preguntas}}
            <div class="faq-item">
                <div class="icon">
                    <img src="{{icono}}" alt="Icon">
                </div>
                <h3>{{titulo}}</h3>
                <p>{{respuesta}}</p>
            </div>
            {{/each}}