<section class="slides">
    <section class="slide">
        <picture>
            <img src="https://picsum.photos/id/1/200/300" alt="descripcion" />
        </picture>
        <h2>Titulo</h2>
        <div class="contenedor">
            <h3>fecha</h3>
            <h3>lugar</h3>
            <button type="button">Más Información</button>
        </div>
    </section>
</section>