.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 60px;
  }
  
  .card-item {
    background-color: #3b6e2e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  
    
  
    .info {
      padding: 1rem;
  
      h2 {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
      }
  
      p {
        font-size: 0.95rem;
        color: #c8f5b1;
        text-align: justify; 
      }
      ul li {
        color: #c8f5b1;
      }
    }
  }
  
  @media (max-width: 768px) {
    .card-item {
      img {
        height: 180px;
      }
  
      .info {
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
  
  @media (max-width: 480px) {
    body {
      padding: 1rem;
    }
  
    .card-item {
      img {
        height: 160px;
      }
  
      .info {
        h3 {
          font-size: 0.95rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }