body {
    
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}


@import "contactenos.less";
@import "noticias.less";
@import "header.less";
@import "footer.less";
@import "comoAyudar";
@import "mitad.less";
@import "variables.less";
@import "evento.less";

